/* 
 * Move all @import statements to the very top of the file to prevent PostCSS or Vite errors.
 * Tailwind directives should appear after all @import rules.
 */

/* Hero Font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Grotesk:wght@300..700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Barlow Condensed', sans-serif;
}

/* hero large font - Regular 400 */

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: semibold;
}

.barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.plus-jakarta-sans-700 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hero-top-text {
    letter-spacing: .3em;
    font-weight: 700;
    font-size: 35px;
}

.hero-main-text { 
    font-size: 136px;
    line-height: 1.2;
}

.hero-bottom-text {
    font-size: 84px;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .hero-top-text {
        font-size: 24px;
    }
    .hero-main-text {
        font-size: 60px;
    }
    .hero-bottom-text {
        font-size: 36px;
    }
}

iframe html body #player .ytp-chrome-top {
    display: none !important;
}

.ytp-large-play-button, .ytp-button {
    display: none !important;
}

.long-description a {
    color: #b59100;
}

.long-description a:hover {
    text-decoration: underline;
}

.long-description h1 {
    font-size: 2rem;
}

.long-description h2 {
    font-size: 1.5rem;
}

.long-description h3 {
    font-size: 1.25rem;
}

.long-description i {
    font-style: italic;
}

.long-description b {
    font-weight: bold;
}

.long-description ul {
    list-style-type: disc;
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.long-description ol {
    list-style-type: decimal;
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.long-description li {
    margin-bottom: 0.5em;
}


.dark .ql-toolbar svg, .dark .ql-toolbar svg polygon, .dark .ql-toolbar svg path, .dark .ql-toolbar svg line{
    stroke: white;
    color: white;
}

.dark .ql-picker-label {
    color: white !important;
}

.ql-container {
    border: none !important;
}

/* Hide scrollbar but keep scroll behavior */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}